@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

body {
  background: #F2F7FF;
  scrollbar-color: #4F2F8E transparent;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  src: url('../../public/font/Muli-Regular.ttf') format('ttf');
}

.balooBold{
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
}

